{% extends "layout.html" %}
{% block body %}
    <div class=" container">
     <div class="container-fluid row">

        {% for user in users %}
            <div class="col-sm-6 row">
                <div class="col-sm-8">
                    <li class="list-group-item">{{ user.user_id}}   </li>
                </div>
                <div class="col-sm-4 btn-default">
                    <a href="{{ url_for('user_tweet', id=user.user_id)}}"> details</a>
                </div>
            </div>
        {% endfor %}

    </div>
        <a href="{{ url_for('hello_world')}}"> click here</a>
    </div>
{% endblock %}